<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>aaaa</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"> 

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    <script src="/javascripts/knockout-2.2.1.js"></script> 
</head>
<body>

<input type="hidden" id="userId" value="<%= userId %>">

<div data-role="page" id="eventMenu">

    <div data-role="header" data-position="fixed">
        <a href="" data-role="button" data-icon="home" data-iconpos="notext"></a>
        <h1>title</h1>
        <a href="#userList" data-role="button" data-icon="grid" data-iconpos="notext" data-rel="dialog" data-transitio="pop"></a>
    </div>

    <div data-role="content">
        <ul id="eventList" data-role="listview"></ul>
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed" data-theme="c">
        <a href="#inputDialog" data-role="button" data-icon="plus" data-iconpos="notext" data-rel="dialog" data-transitio="pop"></a>
    </div><!-- /footer -->
</div><!-- /page -->


<div data-role="page" id="inputDialog">
    <div data-role="header">
        <h1>イベント作成</h1>
    </div>

    <div data-role="content">
        <p>タイトル: <input type="text" data-bind='value: eventName, valueUpdate: "afterkeydown"' /></p>
        <p>日時: <input type="text" data-bind='value: date, valueUpdate: "afterkeydown"' /></p>
        <p>コメント: <input type="text" data-bind='value: comment, valueUpdate: "afterkeydown"' /></p>
        <a href="#eventMenu" data-role="button" data-bind="click: createEvent" >作成</a>
    </div>
</div><!-- /page -->

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/events.js"></script>

</body>
</html>
