<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  <h1><%= title %></h1>
  <div id="fb-root"></div>
  <div id="user-info"></div>
  <p><button id="fb-auth">...</button></p>

  <p><a href="/form">New Entry</a></p>

<script>
(function() {
    // facebookのjsの読み込み
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol
    + '//connect.facebook.net/ja_JP/all.js';
    document.getElementById('fb-root').appendChild(e);

    // socket.io
    var socket = io.connect('www12139ui.sakura.ne.jp/top');

    window.fbAsyncInit = function() {
        FB.init({
            appId:'427165787358469',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });

        function updateButton(response) {
            console.log('updateButton');
            var button = document.getElementById('fb-auth');
            var userInfo = document.getElementById('user-info');
            if (response.authResponse) {
                //user is already logged in and connected
                FB.api('/me', function(response) {
                    userInfo.innerHTML = '<img src="https://graph.facebook.com/'
                    + response.id + '/picture" style="margin-right:5px" />'
                    + response.name;
                    button.innerHTML = 'Logout';

                    socket.emit('reqEventList', {
                        FacebookId : response.id,
                        Name       : response.name
                    });
                });
                button.onclick = function() {
                    FB.logout(function(response) {
                        userInfo.innerHTML="";
                    });
                };
            } else {
                //user is not connected to your app or logged out
                button.innerHTML = 'Login';
                button.onclick = function() {
                    FB.login(function(response) {
                        if (response.authResponse) {
                            FB.api('/me', function(response) {
                                userInfo.innerHTML = 
                                    '<img src="https://graph.facebook.com/' 
                                + response.id + '/picture" style="margin-right:5px" />'
                                + response.name;
                            });
                        } else {
                        //user cancelled login or did not grant authorization
                        }
                    }, {scope:'email'});
                }
            }

        }
        // run once with current status and whenever the status changes
        FB.getLoginStatus(updateButton);
        //FB.Event.subscribe('auth.statusChange', updateButton);
    };
    // トップでは呼び出さないがテストのためおいた
    // itemの項目は適当
    var item = {
        "ItemId"    : 1,
        "ItemName"  : "アイテムのタイトルなんだぜ☆",
        "PosX"      : 123456,
        "CreateUser": "hkitamur",
        "Comment"   : "ここは作成者しか更新できないコメント欄だぜ☆",
        "VoteUsers" : [
            "hkitamur",
            "shomma"
        ]
    };
    socket.emit('addItem', item);

    socket.on('resEventList', function( eventList) {
        console.log(eventList);
    });

})();
</script>
  </body>
</html>
